@import "base";
@import "view";
@import "flex-layout";

html, body {
  height: 100%;
  background-color: #F5F5F5;
}

main {
  padding-left: $main-spacing;
  padding-right: $main-spacing;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: rgba(0, 0, 0, .3);
}

.avatar {
  display: inline-block;
  @include rounded-image(35px);
}

.message-list-container:last-child {
  margin-bottom: 16px;
}

$pane-height: 480px;
$compose-pane-height: 50px;

.conv-container {
  @extend .card;
  height: $pane-height;
  max-width: 950px;
  width: 100%;
  position: relative;
  $bg-color: #ecf0f0;
  background-color: $bg-color;

  .conv-list {
    width: 300px;
    overflow: auto;
    //position: relative;
    .conv {
      padding: 10px;
      &.selected {
        background-color: darken($bg-color, 10%);
      }
      .avatar {
        float: left;
        margin-right: 12px;
      }
      .last-message {
        //float: left;
        //min-width: 0;
      }
    }
  }
  .conv-messages {
    background-color: white;
    //box-shadow: -5px 0 5px -3px rgba(0, 0, 0, 0.14);
    position: relative;
    .message-list-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 78px;
      overflow: auto;
      .message-row {
        @extend .horizontal.layout;
        $margin-size: 15px;
        margin-top: 10px;
        &:last-child {
          margin-bottom: $margin-size;
        }
        &.grouped {
          margin-top: 3px;
        }
        &.received {
          @extend .start-justified.layout;
          margin-left: $margin-size;
          .message-container {
            background-color: #009688;
            color: white;
          }
        }
        &.sent {
          @extend .end-justified.layout;
          margin-right: $margin-size;
          .message-container {
            background-color: #424242;
            color: white;
            //.message.sending {
            //  opacity: 0.1;
            //}
            .message {
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .spinner {
              left: -25px;
              position: absolute;
            }
          }
        }
        .message-container {
          max-width: 450px;
          padding: 10px;
          position: relative;
          .timestamp {
            font-size: 10px;
            margin-top: 1px;
            opacity: 0.6;
          }
        }
      }
    }
    .new-message-container {
      padding: 10px;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      border-top: 1px solid rgba(0, 0, 0, 0.14);
      background-color: white;
      height: 58px;

      textarea {
        resize: none;
        width: 100%;
        height: 100%;
        border: 2px solid #E0E0E0;
        border-radius: 6px;
        padding: 9px 8px 9px 8px;
        outline: none;
      }

      span[contenteditable=true] {
        padding: 5px;
        cursor: text;
        max-height: 85px;
        overflow: auto;
        white-space: pre;
      }
      i {
        cursor: pointer;
        font-size: 1.5em;
        opacity: 0.7;
        &:hover {
          color: #009688;
        }
      }
    }
  }
}

.horz-center {
  margin: 0 auto;
}

.nav-bar {
  height: 50px;
  margin-bottom: $main-spacing;
  width: 100%;
  .avatar {
    cursor: pointer;
    margin-right: $main-spacing;
  }
  .title {
    color: white;
    font-size: 25px;
    margin-left: $main-spacing;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.one-line-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.pointer {
  cursor: pointer;
}