@import "base";
@import "view";
@import "flex-layout";

html, body {
  height: 100%;
}

main {
  padding-left: $main-spacing;
  padding-right: $main-spacing;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: rgba(0, 0, 0, .3);
}

.avatar {
  display: inline-block;
  @include rounded-image(35px);
}

.message-list-container:last-child {
  margin-bottom: 16px;
}

.conv-container {
  @extend .card;
  min-height: 400px;
  max-width: 950px;
  width: 100%;
  position: relative;
  $bg-color: #ecf0f0;
  background-color: $bg-color;

  .conv-list {
    width: 300px;
    //position: relative;
    .conv {
      padding: 10px;
      &.selected {
        background-color: darken($bg-color, 10%);
      }
      .avatar {
        float: left;
        margin-right: 12px;
      }
      .last-message {
        //float: left;
        //min-width: 0;
      }
    }
  }
  .conv-messages {
    background-color: white;
    //box-shadow: -5px 0 5px -3px rgba(0, 0, 0, 0.14);
    position: relative;
    .message-list-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 49px;
      overflow: auto;
      .message-row {
        @extend .horizontal.layout;
        $margin-size: 15px;
        margin-top: 10px;
        &:last-child {
          margin-bottom: $margin-size;
        }
        &.grouped {
          margin-top: 3px;
        }
        &.received {
          @extend .start-justified.layout;
          margin-left: $margin-size;
          .message-container {
            background-color: #009688;
            color: white;
          }
        }
        &.sent {
          @extend .end-justified.layout;
          margin-right: $margin-size;
          .message-container {
            background-color: #424242;
            color: white;
            //.message.sending {
            //  opacity: 0.1;
            //}
            .spinner {
              position: absolute;
              left: -25px;
            }
          }
        }
        .message-container {
          padding: 10px;
          max-width: 450px;
          position: relative;
        }
      }
    }
    .new-message-container {
      padding: 10px;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      border-top: 1px solid rgba(0, 0, 0, 0.14);
      background-color: white;

      span[contenteditable=true] {
        margin-right: 10px;
        padding: 5px;
        cursor: text;
        max-height: 85px;
        overflow: auto;
        white-space: pre;
      }
      i {
        @extend .pointer;
        font-size: 1.5em;
      }
    }
  }
}

.horz-center {
  margin: 0 auto;
}

.nav-bar {
  height: 50px;
  margin-bottom: $main-spacing;
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.one-line-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.pointer {
  cursor: pointer;
}